.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-direction: column;
}
.username {
  font-size: 22px;
}
.button_wrapper {
  margin: 0 10px 5px 10px;
}
.button_container {
  display: flex;
  margin: 10px;
}
